nav {
	position: fixed;
	background: #252525;
	color: #fff;
	display: block;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	z-index: 9999;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
}

nav.small {
	height: 70px;
}

footer {
	background: #252525;
	color: #fff;
	display: block;
	width: 100%;
	text-align: center;
	padding: 50px 0;
}
	footer img {
		display: block;
		max-width: 126px;
		width: 100%;
		margin: 0 auto;
	}

	footer p {

	}
		footer p span {
			display: block;
			text-transform: uppercase;
		}

a.btn {
	background: #39b54a;
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 40px;
}

p.bree {
	font-family: 'Bree Serif', serif;
	font-size: 16px;
	font-style: italic;
	line-height: 32px;
}

section {
	text-align: center;
	padding: 150px 0;
}

section.hero {
	background-size: contain !important;
	position: relative;
	height: 0;
}

section.one {
	background: url('../images/one.jpg') #292929;
	color: #fff;
}

	section.one.hero {
		padding: 0 0 51.355661881978% 0;
	}

	section.one.hero h1 {
		font-size: 26px;
		letter-spacing: 1px;
	}

	section.one.hero img {
		max-width: 369px;
		width: 100%;
		display: block;
		float: right;
	}

	section.one.hero .container {
		max-width: 975px;
		height: 50%;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: left;
	}

section.two {

}
	section.two img {
		display: block;
		max-width: 264px;
		width: 100%;
		margin: 0 auto 60px auto;
	}

	section.two h3 {
		text-transform: uppercase;
		position: relative;
		font-size: 15px;
	}
		
		section.two h3 span {
			display: block;
			margin: 0 auto;
			border-top: solid 2px #81c784;
			width: 12%;
		}

	section.two p {
		font-size:;
	}

section.three {
	background: url('../images/three.jpg') #402b1a;
	color: #fff;
}
	
	section.three.hero {
		padding: 0 0 45.813397129187% 0;
	}

	section.three.hero .container {
		position: absolute;
		height: 50%;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	section.three.hero small {
		padding-top: 60px;
		display: block;
		color: #8a6d56;
	}

section.four {

}

	section.four .col-8 {

	}

		section.four .col-8 img {
			width: 100%;
		}

	section.four .col-4 {
		text-align: left;
	}

		section.four .col-4 img {
			width: 100%;
			max-width: 160px;
			padding-top: 8px;
			padding-bottom: 16px;
		}


		section.four .col-4 .form-wrapper {
			position: relative;
			overflow: hidden;
			display: block;
			padding: 0 0 16px 0;
			clear: both;
			width: 100%;
		}

		section.four .col-4 div.subscription {
			display: none;
		}

		section.four .col-4 p {
			padding-bottom: 16px;
		}

		section.four .col-4 .form-wrapper a.btn {
			text-transform: uppercase;
			color: #fff;
			display: block;
			width: 100%;
		}

		section.four .col-4 .form-wrapper p {
			text-align: center;
			color: #39b54a;
			padding-bottom: 0;
		}

		section.four .col-4 .form-wrapper a {
			width: 50%;
			float: left;
			display: block;
			text-align: center;
			padding: 10px 0;
			text-decoration: none;
			color: #252525;
			border: solid 1px #f3f3f3;
		}
			section.four .col-4 .form-wrapper a.active {
				background: #f3f3f3;
			}

		section.four .col-4 .two input {
			width: 48%;
			float: left;
		}
			section.four .col-4 .two input:last-child {
				float: right;
			}

		section.four .col-4 input {
			border: none;
			border-bottom: solid 1px #f3f3f3;
			padding: 10px;
			font-size: 12px;
			width: 100%;
			display: block;
			background: url('../images/drop.png') no-repeat right center;
			outline: none;
			cursor: pointer
		}

section.five {
	background: #f3f3f3;
}

	section.five .box {
		background: #fff;
		border-radius: 6px;
		padding: 50px 0;
	}

		section.five .box img {
			display: block;
			max-width: 145px;
			width: 100%;
			margin: 0 auto 30px auto;
		}

		section.five .box h3 {
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		section.five .box p {
			margin-bottom: 25px;
		}

.row [class*=col] h2 {
	display: block;
	text-transform: uppercase;
	margin-bottom: 60px;
	font-size: 18px;
}